body {
  font-family: 'Ubuntu', sans-serif;
  /* background: rgb(250, 250, 250); */
}

.cases {
  /* background-color: transparent; */
  /* border: 8px solid #f36 !important; */
  /* color: red; */
}
.global span{
  font-size: 25px;
}
.global{
  color: #fff;
}
.cases,
.deaths,
.recovered {
  background-color: #fff;
}
/* 
.cases::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  background: url('./images/cases.png');
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
} */